<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <groups>
  <run>
  <exclude name="one"></exclude>
  <include name="two"></include>
  </run>
  </groups>
    <classes>
      
      <class name="new1.b1"/>
      <class name="new1.b2"/>
      <class name="new2.b3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
